{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MQTT</title>

    <link rel="stylesheet" href="{% static 'mqtt_app/css/style.css'%}" />
    <audio id="notificationSound">
      <source
        src="{%static 'mqtt_app/audio/notification.mp3'%}"
        type="audio/mp3"
      />
    </audio>
    
  </head>
  <body>
    <div class="notification" id="notification">
      <span id="notification-message">noti</span>
    </div>
    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>MQTT Server</h2>
      <form id="mqtt_serverForm" class="flex-col">
        <div class="input_topic flex-col">
          <label for="host">Host:</label>
          <input
            class="pd-6 input-style"
            type="text"
            id="host"
            placeholder="mqtts://broker.emqx.io"
          />

          <label for="port">Port:</label>
          <input
            class="pd-6 input-style"
            type="text"
            id="port"
            placeholder="1883"
          />
        </div>
        <button type="submit" class="button-connect bdr-6 pd-6 mg-6">
          CONNECT
        </button>
      </form>
    </div>

    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>Add Device</h2>
      <form id="deviceForm" class="flex-col">
        <div class="input_topic">
          <label for="topic">Topic:</label>
          <input
            class="pd-6 input-style"
            type="text"
            id="topic"
            name="topic"
            autofocus
          />
        </div>
        <button type="submit" class="button-style bdr-6 pd-6 mg-6">ADD</button>
      </form>
    </div>

    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>Connected Devices</h2>
      <div class="container_divice w-100 ovf-anw">
        <ul type="none"></ul>
      </div>
    </div>
    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>Logs</h2>
      <div class="container_log w-100 ovf-anw">
        <!-- <div class="log-entry">
            <div class="log-time">44 giây trước</div>
            <div class="log-topic">Topic: mqvnaa01/FPT/usr/SRdpgGceRqQCbnqeMGxR5Xu12jr2/rpt QoS: 0</div>
            <div class="log-content">0d04f000010000</div>
            
        </div> -->
      </div>
    </div>

    <script src="{% static 'mqtt_app/js/main.js'%}"></script>
  </body>
  <script
    src="https://kit.fontawesome.com/0d2d64e695.js"
    crossorigin="anonymous"
  ></script>
 <script>
    function getTime_H_M_S_now() {
    const currentTime = new Date();
    hours = currentTime.getHours();
    minutes = currentTime.getMinutes();
    seconds = currentTime.getSeconds();
  
    return `${hours}:${minutes}:${seconds}`;
  }
  document.querySelectorAll('.container_log').forEach(function(logEntry) {
      logEntry.addEventListener('click', function(event) {
            var a = logEntry.querySelector('a')
            a.click()
    });
});

    

 </script>
</html>
