{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MQTT</title>

    <link rel="stylesheet" href="{% static 'mqtt_app/css/style.css'%}" />
  </head>
  <body>
    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>Add Device</h2>
      <form id="deviceForm" class="flex-col">
        <div class="input_topic">
          <label for="topic">Topic:</label>
          <input
            class="pd-6 input-style"
            type="text"
            id="topic"
            name="topic"
            autofocus
          />
        </div>
        <button type="submit" class="button-style bdr-6 pd-6 mg-6">ADD</button>
      </form>
    </div>

    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>Connected Devices</h2>
      <div class="container_divice w-100 ovf-anw">
        <ul type="none"></ul>
      </div>
    </div>
    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>Logs</h2>
      <div class="container_log w-100 ovf-anw">
        <ul type="none"></ul>
      </div>
    </div>
    <script src="{% static 'mqtt_app/js/main.js'%}"></script>
  </body>
</html>
