{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MQTT</title>

    <link rel="stylesheet" href="{% static 'mqtt_app/css/style.css'%}" />
    <audio id="notificationSound">
      <source
        src="{%static 'mqtt_app/audio/notification.mp3'%}"
        type="audio/mp3"
      />
    </audio>
  </head>
  <body>
    <div class="notification" id="notification">
      <span id="notification-message">noti</span>
    </div>
    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>MQTT Server</h2>
      <form id="mqtt_serverForm" class="flex-col">
        <div class="input_topic flex-col">
          <label for="host">Host:</label>
          <input
            class="pd-6 input-style"
            type="text"
            id="host"
            placeholder="mqtts://broker.emqx.io"
          />

          <label for="port">Port:</label>
          <input
            class="pd-6 input-style"
            type="text"
            id="port"
            placeholder="1883"
          />
        </div>
        <button type="submit" class="button-connect bdr-6 pd-6 mg-6">
          CONNECT
        </button>
      </form>
    </div>

    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>Add Device</h2>
      <form id="deviceForm" class="flex-col">
        <div class="input_topic">
          <label for="topic">Topic:</label>
          <input
            class="pd-6 input-style"
            type="text"
            id="topic"
            name="topic"
            autofocus
          />
        </div>
        <button type="submit" class="button-style bdr-6 pd-6 mg-6">ADD</button>
      </form>
    </div>

    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>Connected Devices</h2>
      <div class="container_divice w-100 ovf-anw">
        <ul type="none"></ul>
      </div>
    </div>
    <div class="info border pd-6 mg-6 bdr-7 color-container">
      <h2>Logs</h2>
      <div class="container_log w-100 ovf-anw">
        <ul type="none"></ul>
      </div>
    </div>

    <script src="{% static 'mqtt_app/js/main.js'%}"></script>
  </body>
  <script
    src="https://kit.fontawesome.com/0d2d64e695.js"
    crossorigin="anonymous"
  ></script>
  <script>
    function timeApart(hours_last, minutes_last, seconds_last) {
      const currentTime = new Date();
      const hours_now = currentTime.getHours();
      const minutes_now = currentTime.getMinutes();
      const seconds_now = currentTime.getSeconds();

      let hour_apart = hours_now - hours_last;
      let minute_apart = minutes_now - minutes_last;
      let second_apart = seconds_now - seconds_last;

      // Xử lý trường hợp giây âm
      if (second_apart < 0) {
        minute_apart -= 1;
        second_apart += 60; // Chuyển đổi giây âm thành dương
      }
      // Xử lý trường hợp phút âm
      if (minute_apart < 0) {
        hour_apart -= 1;
        minute_apart += 60; // Chuyển đổi phút âm thành dương
      }
      // Xử lý trường hợp giờ âm
      if (hour_apart < 0) {
        hour_apart += 24; // Chuyển đổi giờ âm thành dương
      }

      if (hour_apart === 0 && minute_apart === 0) {
        return `${second_apart} giây trước`;
      }
      if (hour_apart === 0 && minute_apart !== 0) {
        return `${minute_apart} phút trước`;
      }
      if (hour_apart !== 0) {
        return `${hour_apart} giờ trước`;
      }
    }
    // Cập nhật thời gian hiện tại

    function getTime_H_M_S_now() {
      const currentTime = new Date();
      hours = currentTime.getHours();
      minutes = currentTime.getMinutes();
      seconds = currentTime.getSeconds();

      return `${hours}:${minutes}:${seconds}`;
    }

    function print_time_apart() {
      // Lọc tất cả các thẻ <p> trong danh sách
      var pTags = document.querySelectorAll(
        ".container_log ul li.container-device-log p"
      );

      // Duyệt qua từng thẻ <p>
      pTags.forEach(function (pTag) {
        // Lấy giá trị từ thuộc tính value của thẻ <p>
        var timeValue = pTag.getAttribute("value");
        // Kiểm tra xem giá trị có tồn tại không
        if (timeValue) {
          // Tách giờ, phút và giây từ giá trị
          var timeParts = timeValue.split(":");
          var hours = parseInt(timeParts[0]);
          var minutes = parseInt(timeParts[1]);
          var seconds = parseInt(timeParts[2]);

          // Gọi hàm get_time với các giá trị thời gian tách được
          var result = timeApart(hours, minutes, seconds);

          // Gán chuỗi kết quả cho thuộc tính textContent của thẻ <p>
          pTag.textContent = result;
        }
      });
    }
    setInterval(function () {
      print_time_apart();
    }, 2000);
  </script>
</html>
